faiss-cpu
PyMuPDF
langchain_community
langchain_huggingface
langchain_core
langchain
langgraph
fastapi
uvicorn
sqlalchemy
jinja2
python-multipart
authlib
itsdangerous
httpx
openai
pydantic-settings
sentence-transformers
python-dotenv
