langchain
transformers==4.45.2
langchain-ollama
streamlit
langchain_experimental
pymupdf
sentence-transformers==3.1.1
langchain_community
huggingface-hub==0.25.2
langchain_huggingface
faiss-cpu

jupyter-lsp>=2.0.0