# Needed by chat activity chatbot
unsloth @ git+https://github.com/unslothai/unsloth.git@62c989ef0ae0e9fbac714a4cb21eda76c1fe84b6

# Needed by Pippy chatbot
langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.10
langchain-experimental==0.3.2
langchain-huggingface==0.1.0
langchain-ollama==0.2.0
langchain-text-splitters==0.3.0
langsmith==0.1.132
